<?xml version="1.0"?>
<config>
  <modules>
    <Stoik_Collectinstore>
      <version>0.0.1</version>
    </Stoik_Collectinstore>
  </modules>
  <global>
    <helpers>
      <collectinstore>
        <class>Stoik_Collectinstore_Helper</class>
      </collectinstore>
    </helpers>
	<models>
	  <collectinstore>
		<class>Stoik_Collectinstore_Model</class>
		<resourceModel>collectinstore_mysql4</resourceModel>
	  </collectinstore>
	</models>
	<resources>
	  <categoryattribute1437908645_setup>
		<setup>
		  <module>Stoik_Collectinstore</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1437908645_setup>
	  <categoryattribute1437908645_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1437908645_write>
	  <categoryattribute1437908645_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1437908645_read>
	  <collect_in_store_only1437908645_setup>
		<setup>
		  <module>Stoik_Collectinstore</module>
		  <class>Mage_Eav_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </collect_in_store_only1437908645_setup>
	  <collect_in_store_only1437908645_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </collect_in_store_only1437908645_write>
	  <collect_in_store_only1437908645_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </collect_in_store_only1437908645_read>
	</resources>
  </global>
</config> 